
#header{
		position: fixed;
		height: 60px;
		width: 100%;
		/*background-color: blue;*/
		display: flex;
		flex-direction: row;
		margin-top: -10px;
		margin-left: -8px;
		margin-right: 0px;
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		background-image: linear-gradient(to right, orange , blue);  

	}

#header-left-div{
	width: 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
#header-right-div{
	width: 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.header-text{
	margin-left: 10px;
	font-family: sans-serif;
	font-weight: 800;
	font-size: 150%;

}
.header-img{
	width: 8%;
	height: 55px;
	min-width: 60px;
	margin-left: 30px;
	padding-top:3px;
	max-width: 350px;
	border-radius: 100%; 
}

#global-container{
	display: flex;
	flex-direction: row;

}

#main-left-container{
	width: 75%;
}
#right-container{
	width: 25%;
}

#search-bar{
	height: 20px;
	width: 80%;
	max-width: 500px;
	border-radius: 10px;
	max-width: 300px;
}
.text-form{
	width: 100%;
}

.search-icon{
	position: relative;
	right: -25px;
	opacity: 0.5; 
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 15px;
}
.mic-icon{
	position: relative;
	opacity: 0.5;
	left: -25px;
}
.bell-icon{
	margin-left: 15%;
	color: #ff5733;

}

@media screen and (max-width: 750px) {
	.user-img,.bell-icon{
		margin: 10px;
		display: none;
	}
}
/*Nav bar styling completed*/
#global-container{
	display: flex;
}
#main-left-container{
	display: flex;
	/*height: 100px;*/
	width: 65%;
	/*background-color: orange;*/


}
#main-right-container{
	display: flex;
	/*height: 100px;*/
	width: 35%;
	/*background-color: blue;*/
	justify-content: flex-start;

}
#highlights{
	display: flex;
	flex-direction: row;
	align-items: center;
	/*justify-content: space-between;*/
	justify-content: flex-start;
}

#highlights .img1 {
	/*top: 100px;*/
	position: relative;
	left: 15%;
	height: 210px;
	width: 40%;
	z-index: 0;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#highlights .img2 {
	/*top: 100px;*/
	/*left: 45%;*/
	position: relative;
	/*right: 20px;*/
	height: 250px;
	width: 33%;
	z-index: 5;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#highlights .img3 {
	/*top: 100px;*/
	position: relative;
	height: 210px;
	right: 15%;
	width:40%;
	z-index: 2;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


#highlights img:hover{
	z-index: 10;
	height: 275px;
	transition-timing-function: ease-in-out;
}
